* {
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url(./images/Layer_0.png);
}

.container {
    width: 1440px;
    height: 1700px;
    margin: 0 auto;
}

h1 {
width: 67px;
height: 10px;
opacity: 0.6;
color: #273d46;
font-family: "Arial MT";
font-size: 14px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 40px;
text-align: center;
text-transform: uppercase;
font-style: normal;
letter-spacing: 2.8px;
line-height: normal;
margin: 168px 702px 30px 671px;
}

h2 {
width: 721px;
height: 75px;
color: #273d46;
font-family: "Times New Roman PSMT";
font-size: 36px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 50px;
text-align: center;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin: 0 372px 87px 347px;
}


.image {

width: 821px;
height: 541px;
border: 10px solid white;
margin: 0px 320px 107px 299px;
}

p {
opacity: 0.8;
color: #273d46;
font-family: "Times New Roman PSMT";
font-size: 24px;
font-weight: 400;
font-style: normal;
letter-spacing: normal;
line-height: 40px;
text-align: left;
font-style: normal;
letter-spacing: normal;
line-height: normal;
margin: 0 370px 64px 334px;
}

.list {
    list-style-image: url(./images/check_icon.png);
    width: 421px;
    height: 19px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    color: #273d46;
    font-family: "Arial MT";
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 36px;
    text-align: left;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;    
    margin: 0 1084px 13px 367px;
}

.p2 {
    color: #80b7b3;
    font-family: "Arial MT";
    font-weight: 400;
    font-style: italic;
}

.p3 {
    color: #273d46;
    font-family: "Arial MT";
    font-size: 20px;
    font-weight: bold;
}

.p4 {
    opacity: 0.3;
    color: #273d46;
    text-decoration: line-through;
}

button {
    /*background-color: #80b7b3;
    color: white;
    text-align: center;
    text-decoration: none;*/
    width: 199px;
    height: 44px;
    margin: 99px 911px 137px 330px;
}